footer
  .left
    .copyright
      p © 2021 Loop LLC, New York, USA
    .phone 
      span Phone:
      | 
      a(href='+1 347-740-42-78') +1 347-740-42-78
    .email
      span Email:
      | 
      a(href='hi@loop.family') hi@loop.family
  .right  
    a(href="#") Подробнее о нас
    a(href="#") Наши работы
    a(href="#") Контакты
  script(src="js/libs.min.js")
  script(src="js/main.js")
